name: ST2 Sync Files

on:
  repository_dispatch:
  workflow_dispatch:
  # schedule:
    # - cron: 35 15 * * 3

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
    - name: 准备完成
      uses: actions/checkout@main

    - name: 下载架构编译配置文件
      run: |
        mkdir -p ./armv8
        wget -O ./armv8/feeds.conf https://fw0.koolcenter.com/iStoreOS/easepi-r1/feeds.conf --no-check-certificate
        wget -O ./armv8/.config https://fw0.koolcenter.com/iStoreOS/easepi-r1/config.buildinfo --no-check-certificate

        FILE_PATH="./armv8/.config"
        if [ -f "$FILE_PATH" ] && [ -s "$FILE_PATH" ]; then
           content=$(cat ${GITHUB_WORKSPACE}/configfiles/config_data-6.x.txt)
           configdata=$(echo "$content" | sed 's/^[[:space:]]*//; s/[[:space:]]*$//')
           # ------------禁用非必要软件包，由AI生成------------
           sed -i 's/^CONFIG_TARGET_MULTI_PROFILE=y/# CONFIG_TARGET_MULTI_PROFILE is not set/' ./armv8/.config
           sed -i 's/^CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_cyber_cyber3588-aib=y/# CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_cyber_cyber3588-aib is not set/' ./armv8/.config
           sed -i 's/^CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r5s=y/# CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r5s is not set/' ./armv8/.config
           sed -i 's/^CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r6s=y/# CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r6s is not set/' ./armv8/.config
           sed -i 's/^CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_easepi_ars4=y/# CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_easepi_ars4 is not set/' ./armv8/.config
           sed -i 's/^CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_easepi_r1=y/# CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_easepi_r1 is not set/' ./armv8/.config
           sed -i 's/^CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_easepi_r1-lite=y/# CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_easepi_r1-lite is not set/' ./armv8/.config
           sed -i 's/^CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_firefly_station-m2=y/# CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_firefly_station-m2 is not set/' ./armv8/.config
           sed -i 's/^CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_fastrhino_r6xs=y/# CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_fastrhino_r6xs is not set/' ./armv8/.config
           sed -i 's/^CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r2s=y/# CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r2s is not set/' ./armv8/.config
           sed -i 's/^CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r3s=y/# CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r3s is not set/' ./armv8/.config
           sed -i 's/^CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r4s=y/# CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r4s is not set/' ./armv8/.config
           sed -i 's/^CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r4se=y/# CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r4se is not set/' ./armv8/.config
           sed -i 's/^CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r76s=y/# CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r76s is not set/' ./armv8/.config
           sed -i 's/^CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_hinlink_h88k=y/# CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_hinlink_h88k is not set/' ./armv8/.config
           sed -i 's/^CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_hinlink_opc-h6xk=y/# CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_hinlink_opc-h6xk is not set/' ./armv8/.config
           sed -i 's/^CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_hlink_h28k=y/# CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_hlink_h28k is not set/' ./armv8/.config
           sed -i 's/^CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_lyt_t68m=y/# CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_lyt_t68m is not set/' ./armv8/.config
           sed -i 's/^CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_lyt_t88m=y/# CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_lyt_t88m is not set/' ./armv8/.config
           sed -i 's/^CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_radxa_e20c=y/# CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_radxa_e20c is not set/' ./armv8/.config
           sed -i 's/^CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_radxa_e24c=y/# CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_radxa_e24c is not set/' ./armv8/.config
           sed -i 's/^CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_radxa_e52c=y/# CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_radxa_e52c is not set/' ./armv8/.config
           sed -i 's/^CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_radxa_e54c=y/# CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_radxa_e54c is not set/' ./armv8/.config
           sed -i 's/^CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_radxa_rock-4c-plus=y/# CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_radxa_rock-4c-plus is not set/' ./armv8/.config
           sed -i 's/^CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_radxa_rock-4se=y/# CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_radxa_rock-4se is not set/' ./armv8/.config
           sed -i 's/^CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_roceos_k60pro=y/# CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_roceos_k60pro is not set/' ./armv8/.config
           sed -i 's/^CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_xunlong_orangepi-5-plus=y/# CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_xunlong_orangepi-5-plus is not set/' ./armv8/.config
           

           sed -i 's/^CONFIG_PACKAGE_linkease=y/# CONFIG_PACKAGE_linkease is not set/' ./armv8/.config
           sed -i 's/^CONFIG_PACKAGE_linkmount=y/# CONFIG_PACKAGE_linkmount is not set/' ./armv8/.config
           sed -i 's/^CONFIG_PACKAGE_luci-app-ddnsto=y/# CONFIG_PACKAGE_luci-app-ddnsto is not set/' ./armv8/.config
           sed -i 's/^CONFIG_PACKAGE_luci-app-filetransfer=y/# CONFIG_PACKAGE_luci-app-filetransfer is not set/' ./armv8/.config
           sed -i 's/^CONFIG_PACKAGE_luci-app-linkease=y/# CONFIG_PACKAGE_luci-app-linkease is not set/' ./armv8/.config
           sed -i 's/^CONFIG_PACKAGE_luci-app-mergerfs=y/# CONFIG_PACKAGE_luci-app-mergerfs is not set/' ./armv8/.config
           sed -i 's/^CONFIG_PACKAGE_mergerfs=y/# CONFIG_PACKAGE_mergerfs is not set/' ./armv8/.config
           
           sed -i 's/^CONFIG_PACKAGE_luci-i18n-ddnsto-zh-cn=y/# CONFIG_PACKAGE_luci-i18n-ddnsto-zh-cn is not set/' ./armv8/.config
           sed -i 's/^CONFIG_PACKAGE_luci-i18n-filetransfer-zh-cn=y/# CONFIG_PACKAGE_luci-i18n-filetransfer-zh-cn is not set/' ./armv8/.config
           sed -i 's/^CONFIG_PACKAGE_luci-i18n-linkease-zh-cn=y/# CONFIG_PACKAGE_luci-i18n-linkease-zh-cn is not set/' ./armv8/.config
           sed -i 's/^CONFIG_PACKAGE_luci-i18n-mergerfs-zh-cn=y/# CONFIG_PACKAGE_luci-i18n-mergerfs-zh-cn is not set/' ./armv8/.config
           
           # ----------------结束----------------
           echo -e "\\n$configdata" >> ./armv8/.config
           # 清除.config配置文件里面重复的配置项
           configdata2=$(cat ./armv8/.config)
           echo "$configdata2" | awk '!seen[$0]++ && NF > 0' > ./armv8/.config
        else
           echo "不处理数据。"
        fi

    - name: 同步配置
      uses: peaceiris/actions-gh-pages@v3
      with:
        personal_token: ${{ secrets.GH_TOKEN }}
        publish_branch: main
        publish_dir: ./
        user_name: 'GitHub Action'
        user_email: 'github-actions[bot]@github.com'
        exclude_assets: ''
        keep_files: true
        commit_message: "Sync files"

    - name: 删除运行记录
      uses: Mattraks/delete-workflow-runs@main
      with:
        retain_days: 1
        keep_minimum_runs: 1
        token: ${{ secrets.GH_TOKEN }}
